.image img {
    background-position: center;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

a {
    text-decoration: none;
    color: #1d1d1d;
}

body {
    font-size: 2rem;
}

.header {
    background-color: rgb(255, 255, 0);
    height: 7vh;
}

.header .header-nav {
    position: absolute;
    right: 0;
}

.header .header-nav ul {
    display: flex;
}

.header .header-nav ul li {
    list-style: none;
    margin: 0.8rem;
}

.main .main-banner {
    margin: 0.6rem;
}